    <!-- Blue Waves -->
    <img src="/images/blue-waves.svg" alt="waves" class="w-full translate-y-1">

    <!-- Footer -->
    <footer class="bg-blue-700 text-white pt-8 lg:px-6">
        <div class="container mx-auto px-4 min-h-[60vh] flex flex-col justify-between">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-16 gap-x-16 md:gap-10 lg:gap-x-10 py-12">
            <!-- Column 1 -->
            <div>
            <h3 class="text-2xl font-bold mb-4">Travel Frequency</h3>
            <p class="text-sm text-gray-300">Travel Frequency, based in Kashmir, offers unparalleled travel experiences and exceptional tour packages, especially Kashmir tour packages to explore the beauty of the region.</p>
            </div>
            <!-- Column 2 -->
            <div class="lg:pl-4">
            <h3 class="text-2xl font-bold mb-4">Services</h3>
            <ul class="text-gray-300">
                <li class="mb-2"><a class="hover:underline">Flight Booking</a></li>
                <li class="mb-2"><a class="hover:underline">Travel Planning</a></li>
                <li class="mb-2"><a class="hover:underline">Tour Packages</a></li>
                <li class="mb-2"><a class="hover:underline">Hotel Reservation</a></li>
                <li class="mb-2"><a class="hover:underline">Kashmir Tour Packages</a></li>
            </ul>
            </div>
            <!-- Column 3 -->
            <div>
            <h3 class="text-2xl font-bold mb-4">Contact Us</h3>
            <p class="text-gray-300 mb-2 overflow-hidden text-ellipsis">
                <strong class="text-white">Email:</strong> 
                <a href="mailto:info@travelfrequency.in" class="hover:underline">info@travelfrequency.in</a>
            </p>                
            <p class="text-gray-300 mb-2">
                <strong class="text-white">Phone:</strong> 
                <a href="tel:+919622044770" class="hover:underline">+91 96220 44770</a>
            </p>
            <p class="text-gray-300 mb-2"><strong class="text-white">Address:</strong> NH1, Near Flyover, Zangam, Pattan, Jammu & Kashmir 193121</p>
            </div>
            <!-- Column 4 -->
            <div>
            <h3 class="text-2xl font-bold mb-4">Follow Us</h3>
            <div class="flex">
                <a href="https://wa.me/919622044770?text=I%20want%20to%20make%20a%20trip%20with%20your%20agency." target="_blank" class="rounded-full hover:bg-blue-500 transition-colors h-9 w-9 flex justify-center items-center"><i class="ri-whatsapp-line text-xl"></i></a>
                <a href="https://www.instagram.com/travelfrequency2024/" target="_blank" class="rounded-full hover:bg-blue-500 transition-colors h-9 w-9 flex justify-center items-center"><i class="ri-instagram-line text-xl"></i></a>
                <a href="https://www.facebook.com/profile.php?id=61561172919908&mibextid=ZbWKwL" target="_blank" class="rounded-full hover:bg-blue-500 transition-colors h-9 w-9 flex justify-center items-center"><i class="ri-facebook-line text-xl"></i></a>
                <a href="https://x.com/TravelFrequency" target="_blank" class="rounded-full hover:bg-blue-500 transition-colors h-9 w-9 flex justify-center items-center"><i class="ri-twitter-line text-xl"></i></a>
            </div>
            </div>
        </div>
        <!-- Copyright Section -->
        <div class="copyright-section bg-blue-700 py-4 mt-8 border-t border-blue-300">
            <div class="container mx-auto px-4 text-center flex flex-col md:flex-row justify-center gap-2">
                <p class="text-sm">&copy; 2024 Travel Frequency | All rights reserved.</p>
                <p class="text-sm">Designed and developed by <a href="https://wa.me/916005189741" target="_blank" class="underline lg:hover:text-green-200 transition-colors ">Mursaleen Nisar</a></p>
            </div>
        </div>


        </div>
    </footer>

    <!-- GSAP Animation CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="/javascripts/script.js"></script>

    <% if(page === 'index') { %>

        <!-- SwiperJS -->
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

        <!-- Scroll Trigger CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <!-- GSAP Animation Index page specific -->
        <script src="/javascripts/gsap-animation.js"></script>

    <% } %>

</body>
</html>